$dive-in:         #405189;
$lightish-blue:   #3577f1;
$cozumel:         #0ab39c;
$blue-damselfly:  #299cdb;
$mango-margarita: #f7b84b;
$firecracker:     #f06548;
$white-solid:     #f3f6f9;
$washed-black:    #212529;

$primary:         $dive-in;
$secondary:       $lightish-blue;
$success:         $cozumel;
$info:            $blue-damselfly;
$warning:         $mango-margarita;
$danger:          $firecracker;
$light:           $white-solid;
$dark:            $washed-black;
